ion-content{
    --background: url('rere.jpg') center;
}
ion-item{
    --background: #ffffff;
    --color: #3700ff;
}
ion-content h3{
    margin-top: 100px;
    color: #ffffff;
}
ion-button{
    --background: #ff0000;
}
.icon1{
    font-size: 150px;
    text-align: center;
    color: #fff;
    margin-bottom: 1px;
}