ion-input {margin-bottom:10px;border-bottom:2px solid rgb(96, 197, 71);padding:15px 0}
ion-grid {background: #fff;padding:10px;border-radius:3px;border:1px solid #ddd;}
ion-textarea {height:200px;width:100%;border:1px solid #eee;}

ion-content {--background:rgb(187, 255, 166);}

ion-select {padding:15px;border-bottom:2px solid rgb(190, 255, 174);}

ion-label {display:inline-block;border-bottom: 2px solid rgb(171, 224, 150);padding-bottom:7px;}