<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
          LIST <h4>Produk</h4>
      </ion-title>
    </ion-toolbar>
   </ion-header>
<ion-content class="padding has-header">
  <ion-list> 
     <div>
      <h4>Produk</h4>
     </div>

     <div>
      <h4>Produk</h4>
     </div>

     <div>
      <h4>Produk</h4>
     </div>

     <div>
      <h4>Produk</h4>
     </div>

     <div>
      <h4>Produk</h4>
     </div>

     <div>
      <h4>Produk</h4>
     </div>

     <div>
      <h4>Produk</h4>
     </div>

     <div>
      <h4>Produk</h4>
     </div>
  </ion-list>
</ion-content>