<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Keranjang Belanja
    </ion-title>
  </ion-toolbar>
 </ion-header>
<ion-content padding>
  <div class="content">
    <div class="artikel">
      <div class="img">
        <img src="../assets/Bow.png" class="src">
      </div>
      <h3> Bow </h3>
    <ion-button color="danger">Beli barang</ion-button>
    <ion-button color="primary">Rp. 100.000
      </ion-button> 
    </div>    
  </div>  
</ion-content>
